html {
margin: 0;
  padding: 0;
  /*imagen de fondo*/
  background-image: url("https://tse4.mm.bing.net/th/id/OIP.2LQKenaWalnObq2aDSfgRAHaEK?rs=1&pid=ImgDetMain&o=7&rm=3"); 
  background-size: cover;/*cubrir todo el contenedor*/
  background-repeat: no-repeat; /*solo apareca una vez*/
  background-attachment: fixed;/*mejor el contenido y que la imagen se quede quieta*/
}



header h1 {
    
    text-align:center;
    font-family: 'barriecito'; /*cambie la fuente*/
    padding:10px;
    background-color: #f1f1f1;
    color:#525286;
    border: solid #000000;
    box-shadow:  4px 0 0#000000;
    border-radius: 10px 10px 0 0;
    height: 50px;
    font-size: 40px;
    margin-bottom: 0; /*margen de abajo*/
    
}

#indice {
    display:flex;
    justify-content: space-around; /*que se adapte al espacio*/
    background-color: rgb(230, 230, 230);
    margin:0;
    padding: 0;
    border:solid rgb(0, 0, 0); /*color del bode, se tiene que poner solid antes*/
    box-shadow: 4px 4px 4px #000000;
    font-size: large; /*cambie tamaño de la fuente*/
}


#indice p a {
    color: #000000;
    text-decoration: none;
    transition: color 1s ease; /*cambie el color cuando se pone el cursor arriba*/
}


#indice p a:hover {
    color:#978ec0

}

#presentacioneimagenes {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#titulopres h1 {
    /*background-color: rgb(196, 137, 235);*/
    text-align: center;
    font-size: 40px;
}

#parrafopres {
    margin-top: 10px;
    background-color: rgb(212, 212, 212);
    border: solid black;
    justify-content: center ;
    
    padding: 10px;
    
}

.carrusel {
    width :50%;
    height: 30rem;
    overflow:hidden; /*no se muestra imagen cuando se sale del contenedor*/
    position:relative;/*La imagen se mueve respecto al contenedor*/
    
}

.Imagenesdegustos {
    display:flex;
    width: 300px;
    margin-top: 10px;
    border: solid #000000;
    width:max-content;
    animation: scroll 40s linear infinite;

}
.Imagenesdegustos img {
    width: 25rem;
    height:30rem;
    
    }



@keyframes scroll {
    0%{
        transform: translate(0);
        }
    100% {
        transform: translateX(-250rem);
    }
}

#tituloexperiencia {
    text-align: center;
    font-size: 30px;
}

#Experiencia {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    
    margin-top: 10px;
    background-color: rgb(212, 212, 212);
    border: solid black;
    text-align: right;
    padding: 10px;
}
#Experiencia img {
    width: 300px;
    height: 200px
}

#perspectivatitu{
    text-align: center;
    font-size: 30px;
}

#perspparraf {
    margin-top: 10px;
    background-color: rgb(212, 212, 212);
    border: solid black;
    text-align: right;
    padding: 10px;
}
#proyectos {
    text-align: center;
    font-size: 30px;
}

#cajaproyectos {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    
    margin-bottom: 10px;
}

#proyecto1,#proyecto2,#proyecto3,#proyecto4,#proyecto5,#proyecto6 { /*Se puede editar variaas al mismo tiempo solo separar con coma*/
    display: block;
    background-color:rgb(129, 129, 129);
    width: 120px;
    height: 120px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: solid black;
}



#cajaproyectos a {
    color: black;
    text-decoration: none;
    transition: color 1s ease;
}


#cajaproyectos a:hover {
    color:rgb(255, 255, 255);
    
}


footer {

    background-color: #000000;
    margin-top: 10px;
    color: #f1f1f1;
    padding: 10px;

}

#logos {
    width: 30px;
    height: 40px;
    display: flex;
    margin: 10px;
    gap: 10px; /*separa elementos dentro del display flex segun chat*/


    

}