html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: goldenrod;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}

#container {
    background-color: rgb(167, 142, 42);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(10, 62, 225, 0.3);
}

#navaSuperior {
    background-color: darkkhaki;
    color: lightslategrey;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 25px;
}

.menu {
    background-color: rgb(209, 147, 53);
    color: black;
    padding: 10px;
    text-transform: lowercase;
    font-size: 20px;
    text-decoration: underline;
}

.imagecontainer {
    margin-top: 20px;
}

.imagecontainer > img {
    width: 600px;   
    height: auto;  
    border: 10px solid saddlebrown; 
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.animacion {
    transition: all 0.3s ease;
}

.animacion:hover {
    transform: scale(1.1); 
    cursor: pointer;
}
