body {
    font-family: Arial, sans-serif; /*CAMBIEN LA LETRA*/
    background-color: #e6f4ea; 
    color: #2e4d35; 
    margin: 0;
    padding: 0;
}

/* Encabezado principal */
#superior {
    background-color: #4caf50; 
    color: white;
    padding: 20px;
    text-align: center;  /*Centra el texto dentro del div*/
    width: 80%;
    margin: auto; /*CENTRAR HORIZONTALMENTE*/
    

}

/* Imagen de rostro */
#Imagen {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#Imagenrostro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #4caf50;
}

/* Nombre */
#Nombre {
    text-align: center;
    font-size: 25px;
    color: #2e7d32;
}

#Nombre hr {
    width: 60%;
    margin: auto;
    border-color: #81c784;
}


#Info, #Habilidades, #Educación, #idiomas, #Experiencia {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: #f1f8f4; /* Verde muy claro de fondo */
    border-left: 6px solid #81c784; /*BORDE IZQUIERDO*/
    border-radius: 5px;
}

/* Títulos de secciones */
#Habilidades h2, #Educación h2, 
#idiomas h3, #Experiencia h3 {
    color: #388e3c;
    margin-bottom: 10px; /*MARGEN DE ABAJO*/
}

/* Listas */
ul, ol {
    padding-left: 20px; /*MARGEN DEL TEXTO DESDE DENTRO DEL DIV EL IZQUIERDO*/
}

li {
    margin-bottom: 8px;
}

/* Párrafos */
p {
    margin: 5px 0;
}







